{% extends "base.html" %}

<!-- Заголовок окна -->
{% block title %}Панель менеджера{% endblock %}

<!-- Подключаем доп стиль -->
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/staff.css') }}">
{% endblock %}

<!-- Контент окна -->
{% block content %}

{% block additional_styles %}{% endblock %} <!-- Доп стиль -->

<h1 class="title">Панель персонала</h1>

<!-- Панель выбора сущности -->
<section class="entity-select">
    <h2>Выберите таблицу</h2>
    <div class="entity-group">
        {% for entity in entities %}
        <a href="{{ url_for('main.staff', entity_name=entity['tab_name']) }}">
            {% if entity == current_entity %}
                <button class="btn-black">{{ entity['ru_name'] }}</button>
            {% else %}
                <button class="btn-outline">{{ entity['ru_name'] }}</button>
            {% endif %}
        </a>
        {% endfor %}
        
        <a href="{{ url_for('main.statistics', stats_id=0) }}">
            <button class="btn-outline">Статистика</button>
        </a>
    </div>
</section>

<!-- Панель добавления -->
<section class="add-form" id="add-form">
    <h2>{% block addtext %}{% endblock %}</h2>
    {% block addpanel %}
    {% endblock %}
</section>

<!-- Панель всех сущностей -->
<section class="table-section">
    <h2>{% block tablename %}{% endblock %}</h2>
    {% block table %}
    {% endblock %}
</section>

{% endblock %}