{% extends "staff/base.html" %}

<!-- Панель добавления типов кузова -->
{% block addtext %}Добавить тип кузова{% endblock %}

{% block addpanel %}
    <form id="addObjectForm">
        <input type="text" placeholder="название" id="bodyTypeName" required>
        <button type="submit" class="btn-red">Добавить</button>
    </form>
    <div id="errorMessage" class="error-message" style="display: none;"></div>
{% endblock %}

<!-- Таблица всех кузовов -->
{% block tablename %}Типы кузовов{% endblock %}

{% block table %}
    <table class="entity-table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="objectsTableBody">
        </tbody>
    </table>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/staff/body_type.js') }}"></script>
{% endblock %}