{% extends "staff/base.html" %}

<!-- Устанавливаем фиксированную ширину столбцов -->
{% block additional_styles %}
    <style>
        .entity-table th:nth-child(1) {
            width: 70%;
        }
        
        .entity-table th:nth-child(2) {
            width: 30%;
        }
    </style>
{% endblock %}

<!-- Панель добавления типов кузова -->
{% block addtext %}Добавить тип кузова{% endblock %}

{% block addpanel %}
    <form id="addObjectForm">
        <input type="text" placeholder="название" id="bodyTypeName" required>
        <button type="submit" class="btn-red">Добавить</button>
    </form>
    <div id="errorMessage" class="error-message" style="display: none;"></div>
{% endblock %}

<!-- Таблица всех кузовов -->
{% block tablename %}Типы кузовов{% endblock %}

{% block table %}
    <table class="entity-table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="objectsTableBody">
            {% for _ in range(10): %}
                <tr id="object-row-unknown">
                    <td><div class="skeleton" style="width: min(100%, 8rem);"></div></td>
                    <td>
                        <button class="btn-outline">Изменить</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/staff/body_type.js') }}"></script>
{% endblock %}