{% extends "staff/base.html" %}

{% block addtext %}Добавить автомобиль{% endblock %}

{% block addpanel %}
    <form id="addObjectForm">
        <select id="brandSelect" required>
            <option value="" disabled selected>Производитель</option>
            {% for brand in brands %}
                <option value="{{ brand['id'] }}">{{ brand['name'] }}</option>
            {% endfor %}
        </select>
        <select id="modelSelect" required disabled>
            <option value="" disabled selected>Модель</option>
        </select>
        <select id="colorSelect" required>
            <option value="" disabled selected>Цвет</option>
            {% for color in colors %}
                <option value="{{ color['id'] }}">{{ color['name'] }}</option>
            {% endfor %}
        </select>
        <input type="text" id="vinInput" placeholder="VIN / Серийный номер" minlength="17" maxlength="17" required>
        <button type="submit" class="btn-red">Добавить</button>
    </form>
    <div id="errorMessage" class="error-message" style="display: none;"></div>
{% endblock %}

{% block tablename %}Список автомобилей{% endblock %}

{% block table %}
    <table class="entity-table">
        <thead>
            <tr>
                <th>Марка</th>
                <th>Модель</th>
                <th>VIN</th>
                <th>Цвет</th>
                <th>Статус</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="objectsTableBody">
            {% for row in template_rows: %}
                <tr id="object-row-unknown">
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td><span class="status available">...</span></td>
                    <td><button class="btn-outline">Изменить</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
<script>
    window.brands = {{ brands|tojson }};
    window.models = {{ models|tojson }};
    window.colors = {{ colors|tojson }};
</script>
<script src="{{ url_for('static', filename='js/staff/cars.js') }}"></script>
{% endblock %}
