{% extends "staff/base.html" %}

<!-- Панель добавления модели -->
{% block addtext %}Добавить модель{% endblock %}

{% block addpanel %}
    <form id="addObjectForm">
        <select required>
            <option value="" disabled selected>Производитель</option>
            {% for brand in brands %}
                <option value="{{ brand['id'] }}">{{ brand['name'] }}</option>
            {% endfor %}
        </select>
        <input type="text" placeholder="Название модели" required>
        <select required>
            <option value="" disabled selected>Тип кузова</option>
            {% for body_type in body_types %}
                <option value="{{ body_type['id'] }}">{{ body_type['name'] }}</option>
            {% endfor %}
        </select>
        <input type="text" placeholder="Описание" style="grid-column: span 2;" required>
        <input type="text" placeholder="Год" required>
        <select required>
            <option value="" disabled selected>Тип двигателя</option>
            <option value="petrol">Бензин</option>
            <option value="diesel">Дизель</option>
            <option value="hybrid">Гибрид</option>
            <option value="electric">Электро</option>
        </select>
        <input type="text" placeholder="Объём двигателя (л.)">
        <input type="text" placeholder="Мощность (л.с.)" required>
        <select required>
            <option value="" disabled selected>Трансмиссия</option>
            <option value="manual">Механическая</option>
            <option value="automatic">Автоматическая</option>
            <option value="variator">Вариатор</option>
            <option value="robotic">Роботизированная</option>
        </select>
        <input type="text" placeholder="Цена (руб.)" required>
        <button type="submit" class="btn-red">Добавить</button>
    </form>
    <div id="errorMessage" class="error-message" style="display: none;"></div>
{% endblock %}

<!-- Таблица всех моделей -->
{% block tablename %}Список моделей{% endblock %}

{% block table %}
    <table class="entity-table">
        <thead>
            <tr>
                <th>Производитель</th>
                <th>Название</th>
                <th>Тип кузова</th>
                <th>Описание</th>
                <th>Год</th>
                <th>Тип двигателя</th>
                <th>Объём двигателя (л.)</th>
                <th>Мощность (л.с.)</th>
                <th>Трансмиссия</th>
                <th>Цена (руб.)</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="objectsTableBody">
            {% for row in template_rows: %}
                <tr id="object-row-unknown">
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td style="filter: blur(5px)">...</td>
                    <td style="filter: blur(5px)">{{ row[0:3] }}</td>
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td style="filter: blur(5px)">{{ row[0:2] }}</td>
                    <td style="filter: blur(5px)">{{ row[0:2] }}</td>
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td><button class="btn-outline">Изменить</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/staff/models.js') }}"></script>
{% endblock %}