{% extends "staff/base.html" %}

{% block addpanel %}
<style>
   .add-form {
      visibility: hidden;
      height: 0;
      padding: 0;
      margin: 0;
   }
</style>
{% endblock %}

{% block tablename %}Список заказов{% endblock %}

{% block table %}
   <table class="entity-table">
      <thead>
         <tr>
            <th>Автомобиль</th>
            <th>VIN номер</th>
            <th>Клиент</th>
            <th>Дата заказа</th>
            <th>Сумма</th>
            <th>Статус</th>
         </tr>
      </thead>
      <tbody>
         {% if sales %}
            {% for sale in sales %}
               <tr>
                  <td>{{ sale.car_name }}</td>
                  <td>{{ sale.vin }}</td>
                  <td>{{ sale.client_full_name }}</td>
                  <td>{{ sale.date_formatted }}</td>
                  <td>{{ sale.amount_formatted }}</td>
                  <td>
                     <span class="status {{ sale.status_class }}">{{ sale.status_label }}</span>
                  </td>
               </tr>
            {% endfor %}
         {% else %}
            <tr>
               <td colspan="6">В базе пока нет данных о заказах.</td>
            </tr>
         {% endif %}
      </tbody>
   </table>
{% endblock %}
