{% extends "staff/base.html" %}

<!-- Панель добавления продаж (отключена) -->
{% block addpanel %}
<style>
   .add-form {
      visibility: hidden;
      height: 0;
      padding: 0;
      margin: 0;
   }
</style>
{% endblock %}

<!-- Таблица всех продаж -->
{% block tablename %}Список продаж{% endblock %}

{% block table %}
    <table class="entity-table">
        <thead>
            <tr>
                <th>Автомобиль</th>
                <th>VIN номер</th>
                <th>Клиент</th>
                <th>Дата продажи</th>
                <th>Сумма</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Toyota Camry</td>
                <td>1HGCM82633A123456</td>
                <td>Иванов Иван Иванович</td>
                <td>2022-01-01</td>
                <td>1 500 000 руб.</td>
                <td><span class="status available">Доставлено</span></td>
                <td><button class="btn-outline">Просмотр</button></td>
            </tr>

            <tr>
                <td>Mazda CX-5</td>
                <td>1HGCM82633A123456</td>
                <td>Петров Петр Петрович</td>
                <td>2022-02-01</td>
                <td>1 200 000 руб.</td>
                <td><span class="status sold">Ожидает доставки</span></td>
                <td><button class="btn-outline">Просмотр</button></td>
            </tr>
        </tbody>
    </table>
{% endblock %}