{% extends "staff/base.html" %}

{% block additional_styles %}
    <style>
        .entity-table th:nth-child(1) { width: 14%; }
        .entity-table th:nth-child(2) { width: 14%; }
        .entity-table th:nth-child(3) { width: 14%; }
        .entity-table th:nth-child(4) { width: 28%; }
        .entity-table th:nth-child(5) { width: 15%; }
        .entity-table th:nth-child(6) { width: 15%; }

        .hide-data {
            filter: blur(5px);
            transition: all 0.4s ease-in-out;
        }

        .hide-data:hover {
            filter: blur(0);
        }
    </style>
{% endblock %}

{% block addtext %}Добавить пользователя{% endblock %}

{% block addpanel %}
    <form id="addObjectForm">
        <input type="text" id="userName" placeholder="Имя" required>
        <input type="text" id="userSurname" placeholder="Фамилия" required>
        <input type="text" id="userPatronymic" placeholder="Отчество (при наличии)">
        <input type="email" id="userEmail" placeholder="Электронная почта" required>
        <input type="password" id="userPassword" placeholder="Пароль" required>
        <select id="userRole" required>
            <option value="user">Пользователь</option>
            <option value="manager">Менеджер</option>
            <option value="admin">Администратор</option>
        </select>
        <button type="submit" class="btn-red">Добавить</button>
    </form>
    <div id="errorMessage" class="error-message" style="display: none;"></div>
{% endblock %}

{% block tablename %}Список пользователей{% endblock %}

{% block table %}
    <table class="entity-table">
        <thead>
            <tr>
                <th data-sort-key="name">Имя</th>
                <th data-sort-key="surname">Фамилия</th>
                <th data-sort-key="patronymic">Отчество</th>
                <th data-sort-key="email">Электронная почта</th>
                <th data-sort-key="role">Уровень доступа</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="objectsTableBody">
            {% for row in template_rows: %}
                <tr>
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td style="filter: blur(5px)">{{ row }}</td>
                    <td style="filter: blur(5px)">user</td>
                    <td><button class="btn-outline">Изменить</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/staff/users.js') }}"></script>
{% endblock %}
