{% extends "staff/base.html" %}

<!-- Панель добавления пользователей -->
{% block addtext %}Добавить пользователя{% endblock %}

{% block addpanel %}
    <form id="carForm">
        <input type="text" placeholder="Имя" required>
        <input type="text" placeholder="Фамилия" required>
        <input type="text" placeholder="Отчество (при наличии)" required>
        <input type="email" placeholder="Электронная почта" required>
        <input type="password" placeholder="Пароль" required>
        <select required>
            <option value="user">Пользователь</option>
            <option value="manager">Менеджер</option>
            <option value="admin">Администратор</option>
        </select>
        <button type="submit" class="btn-red">Добавить</button>
    </form>
{% endblock %}

<!-- Таблица всех пользователей -->
{% block tablename %}Список пользователей{% endblock %}

{% block table %}
    <table class="entity-table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Электронная почта</th>
                <th>Уровень доступа</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Иван</td>
                <td>Иванов</td>
                <td>Иванович</td>
                <td>ivan.ivanov@gmail.com</td>
                <td>Администратор</td>
                <td><button class="btn-outline">Изменить</button></td>
            </tr>

            <tr>
                <td>Петр</td>
                <td>Петров</td>
                <td>Петрович</td>
                <td>petr.petrov@gmail.com</td>
                <td>Пользователь</td>
                <td><button class="btn-outline">Изменить</button></td>
            </tr>

            <tr>
                <td>Сергей</td>
                <td>Сергеев</td>
                <td>Сергеевич</td>
                <td>sergey.sergeev@gmail.com</td>
                <td>Менеджер</td>
                <td><button class="btn-outline">Изменить</button></td>
            </tr>
        </tbody>
    </table>
{% endblock %}