.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container {
  text-align: center;
  max-width: 37rem;
}

.error-code {
  font-size: 8rem;
  font-weight: 800;
  color: #111111;
  margin-bottom: 1rem;
}

.error-message {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.error-description {
  color: #555555;
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}
