{% extends "base.html" %}

<!-- Заголовок окна -->
{% block title %}Ошибка 403 - доступ запрещён!{% endblock %}

<!-- Подключаем доп стиль -->
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
{% endblock %}

<!-- Контент окна -->
{% block content %}
<div class="error-container">
   <h1 class="error-code">403</h1>
   <p class="error-message">Ошибка доступа</p>
   <p class="error-description">У вас недостаточно прав для просмотра данной страницы.</p>

   <div class="buttons">
      <a href="/" class="btn-main">На главную</a>
   </div>
</div>
{% endblock %}