{% extends "base.html" %}

<!-- Заголовок окна -->
{% block title %}Ошибка 404 - страница не найдена!{% endblock %}

<!-- Подключаем доп стиль -->
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
{% endblock %}

<!-- Контент окна -->
{% block content %}
<div class="error-container">
   <h1 class="error-code">404</h1>
   <p class="error-message">Страница не найдена</p>
   <p class="error-description">Запрошенная страница не существует или была удалена.
      Проверьте правильность адреса или вернитесь на главную страницу.</p>

   <div class="buttons">
      <a href="/" class="btn-main">На главную</a>
   </div>
</div>
{% endblock %}