<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Default title{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
      {% block styles %}{% endblock %}
   </head>

   <body>
      <header class="header">
         <div class="header-left">
            <div class="logo">AxiomAuto</div>
            <nav class="nav">
               <a href="/">Каталог</a>
               <a href="/about">О нас</a>

               {% if current_user.is_authenticated and current_user.role in ['manager', 'admin'] %}
               <a href="/staff/cars">Для персонала</a>
               {% endif %}
            </nav>
         </div>
         
         <div class="auth-buttons">
            {% if current_user.is_authenticated %}
            <a href="/profile">
               <button class="btn-outline">Личный кабинет</button>
            </a>
            <a href="/logout">
               <button class="btn-black">Выход</button>
            </a>
            {% else %}
            <a href="/register">
               <button class="btn-outline">Регистрация</button>
            </a>
            <a href="/login">
               <button class="btn-black">Вход</button>
            </a>
            {% endif %}
         </div>
      </header>

      <main class="main">
         {% block content %}{% endblock %}
      </main>

      <footer class="footer">
         <p>© 2025 Каталог автомобилей AxiomAuto. Все права защищены.</p>
      </footer>
   </body>
</html>