{% extends "base.html" %}

<!-- Заголовок окна -->
{% block title %}{{ model.brand ~ ' ' ~ model.name }}{% endblock %}

<!-- Подключаем доп стиль -->
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/car.css') }}">
{% endblock %}

<!-- Контент окна -->
{% block content %}
<div class="car-container">
    <div class="car-image">
        <img src="{{ url_for('static', filename='img/' ~ model.image_path)}}" alt= "{{ model.brand }}">
    </div>

    <div class="car-info">
        <h1>{{ model.brand ~ ' ' ~ model.name }}</h1>
        <p class="subtitle">{{ model.engine_volume ~ ' • ' ~ model.year ~ ' год • ' ~ model.transmission}}</p>
        <p class="price">{{ 'от ' ~ model.min_price ~ ' руб.'}}</p>

        <div class="status available">В продаже</div>

        <h2>Характеристики</h2>
        <ul class="specs">
            <li><strong>Марка:</strong> {{ model.brand }}</li>
            <li><strong>Модель:</strong> {{ model.name }}</li>
            <li><strong>Год выпуска:</strong> {{ model.year }}</li>
            <li><strong>Тип двигателя:</strong> {{ model.engine_type }}</li>
            <li><strong>Объём двигателя:</strong> {{ model.engine_volume ~ ' л.'}}</li>
            <li><strong>Мощность:</strong> {{ model.engine_power ~ ' л.с.'}}</li>
            <li><strong>Коробка передач:</strong> {{ model.transmission }}</li>
        </ul>

        <h2>Описание</h2>
        <p class="description">{{ model.description }}</p>

        <div class="actions">
            <button class="btn-red">Забронировать</button>
            <a href="/">
                <button class="btn-outline">Вернуться в каталог</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}