{% extends "base.html" %}

<!-- Заголовок окна -->
{% block title %}Каталог автомобилей{% endblock %}

<!-- Подключаем доп стиль -->
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/catalog.css') }}">
{% endblock %}

<!-- Контент окна -->
{% block content %}
<h1 class="title">Каталог автомобилей</h1>

<!-- Фильтры поиска -->
<div class="filters-card">
   <h2>Фильтры</h2>
   <div class="filters-panel">
      <input type="text" placeholder="Производитель" id="filter-brand">
      <input type="text" placeholder="Модель" id="filter-model">
      <input type="number" placeholder="Год от" id="filter-year-from">
      <input type="number" placeholder="Год до" id="filter-year-to">
      <input type="number" placeholder="Цена от" id="filter-price-from">
      <input type="number" placeholder="Цена до" id="filter-price-to">
      <select id="filter-transmission" name="transmission">
         <option value="all">Коробка передач</option>
         <option value="manual">Механика</option>
         <option value="automatic">Автомат</option>
         <option value="semi-automatic">Полуавтомат</option>
      </select>
   </div>
</div>

<!-- Панель карточек -->
<div class="catalog">
   {% for model in models %}
      <div class="card">
         <img src="{{ url_for('static', filename='img/' ~ model.image_path)}}" alt="{{ model.title }}">

         <div>
            <h3>{{ model.brand ~ ' ' ~ model.model }}</h3>
            <p>{{ model.engine_type ~ ' • ' ~ model.year ~ ' год • ' ~ model.transmission}}</p>
            <p class="price">{{model.price ~ ' руб.'}}</p>
         </div>
         
         <a href="{{ url_for('main.car', model_id=model.id) }}">
            <button class="btn-red">Подробнее</button>
         </a>
      </div>
   {% endfor %}
</div>

{% endblock %}